---
interface Props {
  list: string[];
  btnClass: string;
}

const { list, btnClass } = Astro.props;
---

<ul class="list-btn-group">
  {
    list.map((item) => (
      <li>
        <button type="button" class={btnClass} data-item={item}>
          {item}
        </button>
      </li>
    ))
  }
</ul>

<script>
  const groups = document.querySelectorAll('.list-btn-group');
  
  groups.forEach(group => {
    const buttons = group.querySelectorAll('button');
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        buttons.forEach(btn => btn.classList.remove("active"));
        button.classList.add("active");
      });
    });
  });
</script>

<style>
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  ul li button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #b36177;
    cursor: pointer;
    transition:
      background 0.3s,
      border-color 0.3s;
  }
  .active {
    border-color: #000 !important;
    background: #d18299 !important;
    outline: 2px solid #000;
  }
</style>
