---
import ListCard from "./ListCard.astro";
---

<div id="container">
  <ListCard />
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
